$dark-purple: #3e0e40;
$middle-purple: #a18dcb;
$light-purple: #9296e1;
$light-purple-blue: #9198e5;
$dark-salmon: #d07084;
$middle-salmon: #cc738c;
$salmon: #e66465;
$black: #000000;
$white: #ffffff;
